#################################
# Docker compose configurations #
#################################
COMPOSE_FILE='MariaDB/docker-compose.yml,PostgreSQL/docker-compose.yml,RabbitMQ/docker-compose.yml,Redis/docker-compose.yml,Psono/docker-compose.yml,Vault-Warden/docker-compose.yml,Seafile/docker-compose.yml,SeaDoc/docker-compose.yml,OnlyOffice/docker-compose.yml,Ocis/docker-compose.yml,Collabora/docker-compose.yml,Openclaw/docker-compose.yml,Hermes/docker-compose.yml,OpenWebUI/docker-compose.yml,Redis-Insight/docker-compose.yml,Gitlab/docker-compose.yml,Keycloak/docker-compose.yml,NextCloud/docker-compose.yml,NimProxy/docker-compose.yml,Caddy-Proxy/docker-compose.yml,Caddy/docker-compose.yml'
COMPOSE_PATH_SEPARATOR=','

UID=0
GID=0

## Images
SEAFILE_IMAGE=seafileltd/seafile-mc:13.0-latest
CADDY_PROXY_IMAGE=lucaslorentz/caddy-docker-proxy:alpine
CADDY_IMAGE=caddy:latest-alpine
SEADOC_IMAGE=seafileltd/sdoc-server:2.0-latest
MARIA_DB_IMAGE=mariadb:latest
MEMCACHED_IMAGE=memcached:latest
VAULT_WARDEN_IMAGE=vaultwarden/server:latest
POSTGRES_IMAGE=postgres:alpine
PSONO_IMAGE=psono/psono-combo-enterprise:latest
REDIS_IMAGE=redis:alpine
REDIS_INSIGHT_IMAGE=redis/redisinsight:latest
ONLYOFFICE_IMAGE=onlyoffice/documentserver:9.3.1.2
GITLAB_IMAGE=gitlab/gitlab-ee:latest
GITLAB_RUNNER_IMAGE=gitlab/gitlab-runner:alpine
RABBITMQ_IMAGE=rabbitmq:management-alpine
OCIS_IMAGE=owncloud/ocis-rolling:latest
COLLABORA_IMAGE=collabora/code:latest
OPENCLAW_IMAGE=ghcr.io/openclaw/openclaw:slim
HERMES_AGENT_IMAGE=nousresearch/hermes-agent:latest
OPEN_WEBUI_IMAGE=ghcr.io/open-webui/open-webui:main-slim
HERMES_WORKSPACE_IMAGE=ghcr.io/outsourc-e/hermes-workspace:latest
KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:latest
NEXTCLOUD_IMAGE=nextcloud:stable-fpm-alpine
NIM_PROXY_IMAGE=ghcr.io/miztertea/nim-proxy:latest

## Persistent Storage
BASE_STORAGE_DIR=/blk

#################################
#      Startup parameters       #
#################################
VAULT_WARDEN_SERVER_HOSTNAME=vault.test.localhost
PSONO_SERVER_HOSTNAME=psono.test.localhost
NIM_PROXY_SERVER_HOSTNAME=proxy.test.localhost

# since localhost is a special domain that resolves to the loopback address, it cannot be accessed by other containers.
# add ocis.self.test, onlyoffice.self.test, and collabora.self.test to extra_hosts
# all these are for local settings, if real domain names are used, they are not needed.
OCIS_SERVER_HOSTNAME=ocis.self.test
ONLYOFFICE_SERVER_HOSTNAME=onlyoffice.self.test
COLLABORA_SERVER_HOSTNAME=collabora.self.test

GITLAB_SERVER_HOSTNAME=gitlab.test.localhost
OPENCLAW_SERVER_HOSTNAME=openclaw.self.test
OPEN_WEBUI_SERVER_HOSTNAME=ai.self.test
HERMES_WORKSPACE_SERVER_HOSTNAME=hermes-workspace.self.test
KEYCLOAK_SERVER_HOSTNAME=keycloak.self.test
SEAFILE_SERVER_HOSTNAME=seafile.self.test
NEXTCLOUD_SERVER_HOSTNAME=nextcloud.self.test

SERVER_PROTOCOL=https

TIME_ZONE=America/New_York
JWT_PRIVATE_KEY=jwt_private_key_replace_it_in_production
SITE_ROOT=/

GITLAB_ROOT_EMAIL=gitlab@test.localhost
GITLAB_ROOT_PASSWD=password_here

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password_here
RABBITMQ_DEFAULT_VHOST=onlyoffice

COLLABORA_ADMIN_USER=admin
COLLABORA_ADMIN_PASSWORD=password_here

OPENCLAW_GATEWAY_TOKEN=token_here
OPENCLAW_GATEWAY_BIND=lan
OPENCLAW_GATEWAY_PORT=18789
OPENCLAW_BRIDGE_PORT=18790

PRIVATE_API_KEY=secret_to_replaced_in_production
OPEN_WEBUI_OAUTH_CLIENT_SECRET=secret_to_replaced_in_production
KEYCLOAK_VAULT_CLIENT_KEY=secret_to_replaced_in_production

#####################################
# Third-party service configuration #
#####################################

## Database
MARIA_DB_HOST=mariadb
MARIA_DB_PORT=3306
MARIA_ROOT_PASSWORD=password_here

SEAFILE_DB_USER=seafile
SEAFILE_DB_PASSWORD=password_here
SEAFILE_DB_NAME=seafile_db
SEAFILE_CCNET_DB_NAME=ccnet_db
SEAFILE_SEAHUB_DB_NAME=seahub_db

ONLYOFFICE_DB_USER=onlyoffice_user
ONLYOFFICE_DB_PASSWORD=password_here
ONLYOFFICE_DB_NAME=onlyoffice_db
# ONLYOFFICE_REDIS_DB=3

POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password_here
POSTGRES_DB=postgres

VAULT_DB_USER=vault
VAULT_DB_PASSWORD=password_here
VAULT_DB=vaultwarden

# POSTGRES USER for keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=password_here
KEYCLOAK_DB=keycloak_db

# NEXTCLOUD POSTGRES USER
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=password_here
NEXTCLOUD_DB=nextcloud_db

## Cache
# redis # or memcached
CACHE_PROVIDER=redis

### Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password_here

### Memcached
MEMCACHED_HOST=memcached
MEMCACHED_PORT=11211

######################################
#        Initial variables           #
# (Only valid in first-time startup) #
######################################

## Seafile admin user
INIT_SEAFILE_ADMIN_EMAIL=seafile@example.com
INIT_SEAFILE_ADMIN_PASSWORD=password_here

KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=password_here

HERMES_WORKSPACE_PASSWORD=password_here

NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=password_here

############################################
# Additional configurations for extensions #
############################################

## SeaDoc service
ENABLE_SEADOC=true

## Notification
ENABLE_NOTIFICATION_SERVER=false

DOCKER_NETWORK_SUBNET=172.18.0.0/16
